<button class="btn btn-primary" (click)="open(content)">Add New</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New User</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form
          (submit)="
            addUser(newTitle, newUserName, newEmail, newAddress, newPhone)
          "
        >
          <div class="form-group">
            <label for="Title"> Enter Title : </label>
            <input
              type="text"
              placeholder="Enter Title"
              #newTitle
              class="form-control mt-2"
              oninput="this.value = this.value.replace(/[^A-z. ]/g, '').replace(/(\..*)\./g, '$1');"
            />
            <label for="Title" class="mt-2"> Enter Username : </label>
            <input
              type="text"
              placeholder="Enter Username"
              #newUserName
              class="form-control mt-2"
              oninput="this.value = this.value.replace(/[^a-z0-9._]/g, '').replace(/(\..*)\./g, '$1');"
            />
            <label for="Title" class="mt-2"> Enter Email : </label>
            <input
              type="email"
              placeholder="Enter Email"
              #newEmail
              class="form-control mt-2"
              oninput="this.value = this.value.replace(/[^A-z0-9.@]/g, '').replace(/(\..*)\./g, '$1');"
            />
            <label for="Title" class="mt-2"> Enter Address : </label>
            <input
              type="text"
              placeholder="Enter Address"
              #newAddress
              class="form-control mt-2"
            />
            <label for="Title" class="mt-2"> Enter Phone Number : </label>
            <input
              type="number"
              placeholder="Enter Phone"
              #newPhone
              class="form-control mt-2"
              (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
            />
          </div>
          <span style="margin-left: 40%">
            <button
              class="btn btn-outline-dark mt-2"
              (click)="modal.close('Save click')"
            >
              Save
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</ng-template>
